:root {
    --dark1: #06080D;
    --dark2: #171C26;
    --dark3: #283040;
    --dark4: #5E6D8C;
    --dark5: #4D5D73;

    --bluedark1: #03090D;
    --bluedark2: #0B1E26;
    --bluedark3: #254A59;
    --bluedark4: #3E768C;
    --bluedark5: #B0CDD9;
}
* {
    box-sizing:border-box;
}
body{
    color:white;
    background-color: var(--dark3);
    cursor:default;
    /* margin-top:56px; */
}

.logo {width:40px;}
.mobile-only {display:none;}
@media screen and (max-width: 970px) {
    .mobile-only {display:block;}
    .pc-only {display:none;}
}
a {color: white; text-decoration: none;}
a:hover{color:white;}
button:hover{color:white !important;}
ul {margin:0; padding:0;}
li {list-style: none;}
.section-title {text-align:center;}

/* Section Common */
section {padding:4em 0;}
.section-description {text-align:center;}

/* Header */
header {background-color: transparent; padding:12px 0; position:fixed; top:0; width:100vw;z-index:1; transition: all .2s ease-in-out}
header.header--dark{background-color:var(--dark2); padding:8px 0;}
header *[data-link] {cursor:pointer;}
header .pc-only li[data-link] {display: inline-block; padding: 8px 12px; margin: 0 4px; border-radius: 5px; }
header .pc-only li[data-link]:hover {border: solid 1px white;}

.side-menu-open {color:white;}
.side-menu-close {color:white; margin-top: 8px; margin-right:12px;}
.side-menu-background{background-color:#00000044; width:100vw; height:100vh; position:fixed;top:0; left:0; display:none;}
.side-menu{background-color:var(--dark2); position:fixed; top:0; right:-100vw; width:15em; height:100vh; transition: .25s ease; text-align:right;}
.side-menu ul li {padding: 10px 20px;}


/* Home */
#home {padding:4em 0; background: url(../image/milky-way.jpg); background-size:cover; background-repeat:no-repeat; position:relative;z-index:-2;}
#home:before{content:''; background: linear-gradient(to bottom, #28304000, #283040ff); position:absolute; left:0; top:0; height:100%;width: 100%; z-index:-1;}
#home .myphoto{width:150px; border-radius:100%; padding:1em 0;}
#home .section-description{padding: 1em 0;}
#home .section-button {border: solid 2px white; background:transparent; color:white; border-radius:5px; padding: .5em 1em;}

/* About me */
/* #about-me {} */
#about .major-group {margin:3em 0;}
#about .major .icon {width:170px; height:170px; line-height:170px; font-size: 70px;margin:10px auto; border:solid 3px var(--bluedark5); border-radius:100%; color:var(--bluedark5); transition: all .2s ease-in-out}
#about .major:hover .icon {border-color: var(--dark5); color:var(--dark5); transform:rotate(20deg) scale(1.1)}
/* #about-me .major .title {font-weight:bold; padding:10px 0; font-size: 20px;} */

/* Skills */
#skill {background-color:var(--bluedark2);}




@media screen and (max-width:768px) {
    #about .major {margin-top: 2em;}
}