:root {
    --dark1: #06080D;
    --dark2: #171C26;
    --dark3: #283040;
    --dark4: #5E6D8C;
    --dark5: #4D5D73;

    --bluedark1: #03090D;
    --bluedark2: #0B1E26;
    --bluedark3: #254A59;
    --bluedark4: #3E768C;
    --bluedark5: #B0CDD9;
}

body{
    color:white;
    background-color: var(--dark3);
    /* margin-top:56px; */
}

.logo {width:40px;}
.mobile-only {display:none;}
@media screen and (max-width: 970px) {
    .mobile-only {display:block;}
    .pc-only {display:none;}
}
a {color: white; text-decoration: none;}
a:hover{color:white;}
button:hover{color:white !important;}
ul {margin:0; padding:0;}
li {list-style: none;}


/* Header */
header {background-color: transparent; padding:12px 0; position:fixed; top:0; width:100vw;z-index:1; transition: all .2s ease-in-out}
header.header--dark{background-color:var(--dark2); padding:8px 0;}

.side-menu-open {color:white;}
.side-menu-close {color:white; margin-top: 8px; margin-right:12px;}
.side-menu-background{background-color:#00000044; width:100vw; height:100vh; position:fixed;top:0; left:0; display:none;}
.side-menu{background-color:var(--dark2); position:fixed; top:0; right:-100vw; width:15em; height:100vh; transition: .25s ease; text-align:right;}


/* Home */
#home {padding-top:56px;height:700px; background: url(../image/milky-way.jpg); background-size:cover; position:relative;}
#home:before{content:''; background: linear-gradient(to bottom, #28304000, #283040ff); position:absolute; left:0; top:0; height:100%;width: 100%;}